<article class="<%= item.layout %>">
  <div class="post-content">
    <header>
      <%- partial('post/title') %>
    </header>
    <div class="entry st-search-container" style="padding-top: 10px;">
    </div>
    <footer>
      <div class="clearfix"></div>
    </footer>
  </div>
</article>
