#footer
  color color-meta
  margin-bottom 50px
  font 0.9em/1.6 font-title
  text-shadow 0 0 1px #fff

.scroll-top
  bottom 0
  cursor pointer
  display none
  padding 8px
  position fixed
  right 5px
  z-index 9999
  &:before
    content "\f01b"
    font-size 45px
    color color-link
    font-family FontAwesome
