#header
  background #eee none repeat scroll 0 0
  min-height 20px
  a
    color #999
    &:hover
      color color-link
      text-decoration none
    
  h1
    font-weight normal
    font-size 50px
    line-height 1

  h2
    font-weight normal
    font-size 20px
    line-height 1
    margin-top 10px
  
  #main-nav
    font-family font-title
    line-height 50px
    ul
      list-style none
      li
        float left
        margin-left 30px
        a
          font-size 20px
  .search
    float right
    margin-left 35px
    margin-top 5px
    input
      background #fff
      font-family font-title
      font-style italic
      font-size 1em
      padding 10px 15px
      border 1px solid color-border
      width 270px
      box-sizing border-box
      color color-meta
      &:focus
        color color-font

.fixed-position
  position fixed

.header-align
  background #eee none repeat scroll 0 0
  text-shadow 0 0 1px #fff
  max-width 1200px
  left 0
  right 0
  margin-left auto
  margin-right auto
  min-height 60px
  padding 15px
  z-index 9999

.fa
  color #999
  font-family fontawesome
  font-size 20px
  font-style normal
  margin-right 2px
  &:hover
    color color-link
    text-decoration none

.fa-rss
  &:before
    content "\f09e"

.fa-home
  &:before
    content "\f015"

.fa-archive
  &:before
    content "\f07c"

.fa-info-circle
  &:before
    content "\f05a"
