#sidebar {
  .toc-article {
    background #fff none repeat scroll 0 0
    box-shadow 1px 2px 3px #ddd
    margin-bottom 30px
    word-wrap break-word

    .toc-title {
      border-bottom 1px solid #ddd
      font-size 20px
      font-weight normal
      padding 15px 20px
    }

    .toc {
      font-size 0.9em
      padding 15px 20px

      li {
          list-style-type none
      }

      .toc-child {
          padding-left 1.25em
          margin 4px 0
      }
    }
  }
}
